li.mobile-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    border-bottom: 1px solid black;
}
button.mobile-menu-back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
  padding-bottom: 50px;
}

.mobile-menu-imgs > div:first-child {
  grid-column: span 2;
}

span.mobile-menu-item-arrow {
    color: #A6192E;
}

.mobile-menu-imgs span.mobile-menu-item-arrow {
    margin-left: 5px;
    font-size: 20px;
}

a.mobile-menu-img-link-text {
    font-size: 16px;
}