.navPages-container {
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
}

.header-logo {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-logo-image {
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.navUser {
    padding-left: 0px;
    padding-right: 0px;
}

.navPages {
    height: 80px;
}

ul.navPages-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navPages-list.navPages-list--user {
    display: none;
}

.navUser {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

