.navPages a.navPage-subMenu-action.navPages-action.has-subMenu {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    line-height: 1;
    display: block;
    border-bottom: none;
}

.navPages a.navPage-subMenu-action.navPages-action.has-subMenu::after {
    content: "";
    display: block;
    width: 25.008px;
    border-top: 1.008px solid #da1a32;
    margin: 12px 0 4.8px;
}
// 

ul.navPage-subMenu-list {
  display: flex;
}

ul.navPages-list {
    position: relative;
    width: 80%;
}

.navPage-subMenu-item {
  padding: 0px !important;
}

.navPage-subMenu.is-open {
    width: 100%;
    padding-left: 50px !important;
}

.navPage-subMenu-item:last-child .navPage-childList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.navPage-subMenu-item:last-child .navPage-childList > :first-child {
  grid-column: span 2;
}

.navPage-subMenu-item {
  width: 100%;
}

p.custom-image-navPage-subMenu-item-title-text {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}


li.navPage-subMenu-item.custom-images-navPage-subMenu-item {
    min-width: 120px;
}



.navPage-subMenu-item-rest{
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.navPage-subMenu-item-rest-first::before, 
.navPage-subMenu-item-rest-first::after {
  content: none !important;
  display: none !important;
}


.navPage-subMenu-item-rest-first {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start !important;
}

a.navPage-subMenu-action.navPages-action.has-subMenu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.navPage-subMenu-action-text {
    display: inline-flex;
    align-items: center;
}


.navPage-subMenu-action-text-right-icon {
    width: 20px;
    height: 20px; 
}

.navPages-action svg {
  fill: #da1a32;
  stroke: none;
}

.navPage-subMenu-action-text {
  font-size: 18px
}

.navPages-action svg {
  fill: #da1a32;
  stroke: none;
}

a.navPage-childList-action.navPages-action {
    font-weight: 600; 
    line-height: 1.25;
}

p.custom-image-navPage-subMenu-item-title-text {
    font-weight: 600; 
    font-size: 16px;
}

.custom-image-navPage-subMenu-item-title-text {
    font-size: 16px;
    font-weight: 600;
}